:root{
   --pale-blue:hsl(225, 100%, 94%);
    --bright-blue:hsl(245, 75%, 52%);
    --very-pale-blue:hsl(225, 100%, 98%);
     --desaturated-blue:hsl(224, 23%, 55%);
    --dark-blue:hsl(223, 47%, 23%);
}
* {
    margin:0;
    box-sizing:border-box;
    text-align:center;
    font-size:1rem;
    font-weight:500;
    font-family: 'Red Hat Display', sans-serif;

}
body {
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--pale-blue);
    background-image:url(mobile.svg);
    background-repeat:no-repeat;
    background-size:contain;
    position: relative;
}
main {
    width:min(90%, 23rem);
    display:flex;
    background:#fff;
    border-radius:1rem;
}
section {
    display:flex;
    flex-direction:column;
    width:100%;
    align-items:center;
}
.hero {
   display:block;
    width:100%;
   object-fit:cover;
    border-radius:1rem 1rem 0 0;
    
}
.main-div {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:90%;
}
h1 {
    margin-block:1rem;
    font-size:1.5rem;
    font-weight:900;
}
P {
    color:var(--desaturated-blue);
}
.plan {
    background:var(--very-pale-blue);
    display:flex;
    margin-block:1.5rem;
    align-items:center;
    width:100%;
    padding:2rem;
    border-radius:1rem;
}
.plan > div {
    display:flex;
    flex-direction:column;
    margin-inline:1rem;
}
h2 {
    font-weight:700;
}
a {
    
    margin-left:1rem;
}
a:hover, a:active {
    color:hsl(245deg 75% 52% / 70%);
    text-decoration:none;
}
button {
    cursor:pointer;
    border:none;
    width:100%;
    padding-block:1rem;
    margin-bottom:1rem;
    border-radius:1rem;
    font-weight:700;
}
.payment {
    color:#fff;
    background:var(--bright-blue);
    box-shadow:0 .7rem .5rem var(--pale-blue);
    
}
.payment:hover{
    background:hsl(245deg 75% 52% / 70%);
}
.cancel {
    color:var(--desaturated-blue);
    background:#fff;
}
.cancel:hover {
    color:#000;
}
footer {
   position: absolute;
   bottom:1px;
}
@media screen and (min-width:600px) {
    body {
        background-image:url(back.svg);
        
    }
   
}
